parameters:
  level: 9
  tmpDir: ./tests/phpstan
  paths:
    - src
    - tests/phpunit/src
  ignoreErrors:
    -
      message: '#Call to an undefined method .*(children|addDefaultsIfNotSet|arrayPrototype)#'
      path: src/ConfigSchema.php